@import "tailwindcss";
@plugin "daisyui";

* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    color:black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Open Sans', 'Fira Sans' 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: poppins, sans-serif;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}